.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 60px;
    background: #DCE5E2;
    border-bottom: 1px solid #c9d5d1;
}

.header__title {
    color: black;
    font-size: 26px;
    font-weight: 600;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.menu__cart a img {
    width: 35px;
}

.menu__signout button {
    background: black;
    color: white;
    border-radius: 100px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.menu__signout button:hover {
    border: 1px solid black;
    color: black;
    background: transparent;
    transition: .5s ease-out;
}

.menu__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu__user img {
    width: 40px;
    height: 40px;
}

.menu__username {
    font-size: 22px;
    color: black;
    font-weight: 500;
}